body {
  background: rgb(253, 240, 240);
  font-family: sans-serif;
}

.card {
  width: 408px;
  background: #fff;
  margin: 15px auto;
  border-style: solid;
  border-color: white;
  border-width: 15px;
}

.title {
  background: rgb(239, 235, 250);
  margin-top: 0px;
  padding: 15px;
  font-weight: 900;
}

.content {
  background: rgb(239, 235, 250);
  padding: 15px;
  font-weight: 549;
}

.button-container {
  background: rgb(239, 235, 250);
  margin-top: 22px;
  text-align: center;
  font-weight: 549;
  padding: 15px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 23px 8px 23px;
  font-size: 15px;
  
}

p {
  padding: 0px;
  margin: 0px;
}